<!-- START: ecommerce/products-list -->
<section class="card">
  <div class="card-header">
    <div class="dropdown pull-right">
      <button type="button" class="btn btn-primary" aria-expanded="false" (click)="showAddBrand()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Brand
      </button>
    </div>
    <span class="cat__core__title">
            <strong>KALIQ Brand List</strong>
        </span>
  </div>
  <div class="card-block" *ngIf="brandList.length>0">
    <table class="table table-hover nowrap" id="example1" width="100%">
      <thead class="thead-default">
      <tr>
        <th>Brand Name</th>
        <th>Thumbnail</th>
        <th>Action</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Brand Name</th>
        <th>Thumbnail</th>
        <th>Action</th>
      </tr>
      </tfoot>
      <tbody>
      <tr *ngFor="let brand of brandList;let i=index">
        <td><a href="javascript: void(0);" class="cat__core__link--underlined">{{ brand.name }}</a></td>
        <td>
          <span *ngIf="brand?.image_list?.length>0">
          <a *ngFor="let img of brand?.image_list" href="javascript: void(0);"
             class="cat__ecommerce__dashboard__list__img"><img
            [src]="img"/></a>
            </span>
        </td>
        <td>
          <a (click)="editBrand(brand)" href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i
            class="icmn-pencil"><!-- --></i>
            Edit</a>
          <a (click)="deleteBrand(brand.id,i)" href="javascript: void(0);" class="cat__core__link--underlined">
            <small><i class="icmn-cross"><!-- --></i></small>
            Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- END: ecommerce/products-list -->
