<!-- START: ecommerce/products-list -->
<section class="card">
  <div class="card-header">
    <div class="dropdown pull-right">
      <button type="button" class="btn btn-primary" aria-expanded="false" (click)="showAddCategory()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Category
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
        <a class="dropdown-item" href="javascript: void(0)">Simple Product</a>
        <a class="dropdown-item" href="javascript: void(0)">Configurable Product</a>
        <a class="dropdown-item" href="javascript: void(0)">Grouped Product</a>
        <a class="dropdown-item" href="javascript: void(0)">Virtual Product</a>
        <a class="dropdown-item" href="javascript: void(0)">Bundle Product</a>
        <a class="dropdown-item" href="javascript: void(0)">Downloadable Product</a>
      </ul>
    </div>
    <span class="cat__core__title">
            <strong>KALIQ Category List</strong>
        </span>
  </div>
  <div class="card-block" *ngIf="categoryList.length>0">
    <table class="table table-hover nowrap" id="example1" width="100%">
      <thead class="thead-default">
      <tr>
        <th>Category Name</th>
        <th>Thumbnail</th>
        <th>Parent Category</th>
        <th>Sub Category</th>
        <th>Action</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Category Name</th>
        <th>Thumbnail</th>
        <th>Parent Category</th>
        <th>Sub Category</th>
        <th>Action</th>
      </tr>
      </tfoot>
      <tbody>
      <tr *ngFor="let category of categoryList;let i=index">
        <td><a href="javascript: void(0);" class="cat__core__link--underlined">{{ category?.name }}</a></td>
        <td>
          <!--<a href="javascript: void(0);" class="cat__ecommerce__dashboard__list__img"><img-->
          <!--src="assets/modules/ecommerce/common/img/001.jpg"/></a>-->
          <span *ngIf="category?.image_list?.length>0">
          <a *ngFor="let img of category?.image_list" href="javascript: void(0);"
             class="cat__ecommerce__dashboard__list__img"><img
            [src]="img"/></a>
          </span>

        </td>
        <td>
          <a href="javascript: void(0);" class="cat__core__link--underlined"> {{ category?.parent_name }} </a>
        </td>
        <td>
          <span style="margin-left:2px;margin-right:2px" class="badge badge-primary"
                *ngFor="let x of category?.sub_category_list"> {{
            x?.name }} </span>
        </td>
        <td>
          <a href="javascript: void(0);" class="cat__core__link--underlined mr-3"><i class="icmn-pencil"><!-- --></i>
            Edit</a>
          <a (click)="deleteCategory(category.id,i)" href="javascript: void(0);" class="cat__core__link--underlined">
            <small><i class="icmn-cross"><!-- --></i></small>
            Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- END: ecommerce/products-list -->
